{{define "joblist"}}
 <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Job ID</th>
          <th scope="col">Originator</th>
          <th scope="col">Type</th>
          <th scope="col">Job Details</th>
        </tr>
      </thead>
      <tbody>
        {{range $id, $job := .}}
        <tr>
          <th scope="row">{{$job.ID}}</th>
          <td>{{$job.AgentID}}</td>
          <td>{{$job.Type}}</td>
          <td><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal{{$id}}">
              Show Job Details
            </button> 
          </td>
        </tr>
        <div class="modal fade" id="modal{{$id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Job Details </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="white-space: pre-wrap;font-family:'Lucida Console', monospace;">
                {{$job.JobDetailsString}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {{end}}
      </tbody>
    </table>
{{end}}